# Databases lab
See https://su.mff.cuni.cz/view/browse/home/martav/seminardm/ for specific instructions.

Following our instructions, we start by downloading and unzipping our ready-to-go oracle client. We are then ready to include our packages and estabilish a connection:

In [7]:
import numpy as np
import pandas as pd
import cx_Oracle
import json
import os

In [ ]:
cx_Oracle.init_oracle_client(lib_dir="C:\Program Files\instantclient_21_9") # Initialize the client

import warnings
warnings.simplefilter("ignore")

We make a connection, because the downloadable file has 51MB :)
We limit to only movies with id below 25 because we get timed out due to our internet speed oterwise :((

In [10]:
connection =cx_Oracle.connect(user='websem', password='websem108', dsn='tirpitz.ms.mff.cuni.cz:1511/jedenact.ms.mff.cuni.cz')
ratings=pd.read_sql_query('''select * from FRATINGS WHERE MOVIEID<20''', connection)
print(ratings)

        USERID  MOVIEID  RATING          TS         DT  TOP5     K  DTYY  \
0      2413320        1       4  2004-02-06 2004-02-06  None   441  2004
1        87113        1       2  2005-09-21 2005-09-21  None    99  2005
2       722591        1       5  2004-03-08 2004-03-08  None  1407  2004
3      2291306        1       1  2004-03-01 2004-03-01  None  1204  2004
4      2010770        1       4  2004-12-30 2004-12-30  None    18  2004
...        ...      ...     ...         ...        ...   ...   ...   ...
23832  1693629       19       4  2005-08-03 2005-08-03  None    27  2005
23833  1796151       19       3  2005-01-19 2005-01-19  None    30  2005
23834  1790158       19       3  2005-10-18 2005-10-18  None   270  2005
23835   686526       19       4  2003-12-13 2003-12-13  None   157  2003
23836  2510785       19       5  2005-09-14 2005-09-14  None   387  2005

       DTMM  DTDW  DTHH   KTT TRAIN TEST  DIFF
0         2     6     0   330     A    N   0.0
1         9     4     0    89     A    N  -2.0
2         3     2     0  1168     A    N   1.0
3         3     2     0  1063     A    N  -3.0
4        12     5     0    16     A    N   0.0
...     ...   ...   ...   ...   ...  ...   ...
23832     8     4     0    25     A    N   1.0
23833     1     4     0    30     A    N   0.0
23834    10     3     0   242     A    N   0.0
23835    12     7     0   151     A    N   1.0
23836     9     4     0   376     A    N   2.0

[23837 rows x 15 columns]

In [14]:
print('We will be working with the following columns: {}.'.format(ratings.columns.values))

We will be working with the following columns: Index(['USERID', 'MOVIEID', 'RATING', 'TS', 'DT', 'TOP5', 'K', 'DTYY', 'DTMM',
       'DTDW', 'DTHH', 'KTT', 'TRAIN', 'TEST', 'DIFF'],
      dtype='object').

We already know how many rows this dataframe has, considering we specifically limited it, but IDs are no insurance, let's check anyways:

In [18]:
print('We will be working with {} rows.'.format(len(ratings)))

We will be working with 23837 rows.

Now simply for exercise:

In [34]:
print('There are {} universally popular movies.'.format((len(ratings[ratings[(ratings['MOVIEID']<20)].RATING == 5]))))

There are 3798 universally popular movies.

User 11 specifically rated:

In [44]:
print('User 11 rated {} movies.'.format(ratings[ratings['USERID'] == 11].MOVIEID.values))

User 11 rated [] movies.

__Worked on by Martin GrÃ¡f__